$color-primary: #3E6257;
$hover-color: #029568;
$color-secondary: #5E4AE3;
$background-color: #F0F3F5;
$highlight-color: #05299E;
$border-color: #ebedf5;
$text-color: #333639;
$font-family-text: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-family-heading: "Cooper Hewitt";
